<header class="header">
  <div class="header__logo-title">
    <img src="./assets/images/logo.png" alt="Palma de Mallorca" class="header__logo">
    <h1 class="header__title header__title--highlight">Descubre Palma</h1>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__item">
        <a href="#catedral" class="header__link">
          <i class="fas fa-church"></i> Catedral
        </a>
      </li>
      <li class="header__item">
        <a href="#lonja" class="header__link">
          <i class="fas fa-landmark"></i> Lonja
        </a>
      </li>
      <li class="header__item">
        <a href="#banys" class="header__link">
          <i class="fas fa-water"></i> Baños Árabes
        </a>
      </li>
      <li class="header__item">
        <a href="#castell" class="header__link">
          <i class="fa-brands fa-fort-awesome"></i> Castillo de Bellver
        </a>
      </li>
      <li class="header__item">
        <a href="#rutas" class="header__link">
          <i class="fas fa-hiking"></i> Rutas
        </a>
      </li>
    </ul>
  </nav>
</header>